<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title th:text="#{history.title}">سجل الفئة</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<div class="container">
    <h1 th:text="${category.name} + ' ' + #{history.title}">سجل الفئة</h1>

    <!-- Display error message if exists -->
    <div th:if="${error != null}" class="alert alert-danger" th:text="${error}"></div>

    <!-- Display success message if exists -->
    <div th:if="${message != null}" class="alert alert-success" th:text="${message}"></div>

    <h2 th:text="#{history.addRecord}">إضافة سجل جديد</h2>
    <form th:action="@{/categories/{id}/addHistory(id=${category.id})}" method="post" class="form-inline enhanced-form">
        <div class="form-group">
            <label for="quantity" th:text="#{history.quantity}">الكمية:</label>
            <input type="number" id="quantity" name="quantity" min="1" required class="form-control"/>
        </div>
        <div class="form-group">
            <label for="status" th:text="#{history.status}">الحالة:</label>
            <select id="status" name="status" class="form-control">
                <option value="Add" th:text="#{history.add}">إضافة</option>
                <option value="Delete" th:text="#{history.delete}">حذف</option>
            </select>
        </div>
        <div class="form-group form-group-button">
            <button type="submit" class="btn btn-primary" th:text="#{history.submit}">إرسال</button>
            <a th:href="@{/categories}" class="btn btn-back" th:text="#{history.backToCategories}">العودة إلى الفئات</a>
        </div>
    </form>

    <h2 th:text="#{history.title}">السجل</h2>
    <table>
        <thead>
        <tr>
            <th th:text="#{history.quantity}">الكمية</th>
            <th th:text="#{history.action}">الإجراء</th>
            <th th:text="#{history.date}">التاريخ</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="history : ${history}">
            <td th:text="${history.quantity}"></td>
            <td>
                <span th:if="${history.status == 'Add'}" th:text="#{history.add}">إضافة</span>
                <span th:if="${history.status == 'Delete'}" th:text="#{history.delete}">حذف</span>
            </td>
            <td class="date-cell" th:text="${history.formattedDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
